/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri Light', 'Calibri', sans-serif;
    color: #E0E0E0;
  }
  
  body {
    background-color: #10243dff;
    line-height: 1.6;
    font-size: 16px;
    margin: 1em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 1.5rem;
  }
  
  a {
    color: #757575;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #c4c4c4;
  }